/* main.scss */
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$blackkeyColor: #202020;

body{
	background: #eee;
}

.piano, .piano:before, .piano:after{
	clear: both;
	display: table;
	margin: 0 auto;
	border: thin solid blue;
}

.piano{
	position: relative;

	.key{
		float: left;
		border: thin solid red;
		width: 50px;
		height: 200px;
		font-size: 30px;
		font-weight: 600;
		padding: 150px 0 0;
		background-color: #fff;
		cursor: pointer;
	}

	.black-keys{
		background-color: $blackkeyColor;
		width: 34px;
		height: 125px;
		position: absolute;
		top: 0;

		&.cd-key{
			left: 32px;
		}

		&.de-key{
			left: 82px;
		}

		&.fg-key{
			left: 182px;
		}

		&.ga-key{
			left: 232px;
		}

		&.ab-key{
			left: 282px;
		}
	}
}

.log{
	border: thin solid green;
}

